<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itechmobile.budget">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.authorization.AuthorizationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.authorization.EmailAuthorizationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.editor.transaction.GreenTransactionActivity"
            android:descendantFocusability="beforeDescendants"
            android:focusableInTouchMode="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeGreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.editor.transaction.YellowTransactionActivity"
            android:descendantFocusability="beforeDescendants"
            android:focusableInTouchMode="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeYellow"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.nodone.NoDoneActivity"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.editor.category.EmojiCategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.editor.category.NameCategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.statistick.StatistickActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.calendar.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />

        <activity
            android:name=".ui.inpocket.InPocketActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.regular.RegularActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>